@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto:ital,wght@1,900&display=swap');

body {
    background-color: #FFC43D;
}

h1 {
    display: inline;
}

.box-model {
    margin: 1em;
    padding: 1.5em;
}

/* .sections {
    display: flex;
} */

.messageContainer {
    color: #ef233c;
}


/* styling pizzas display section */

.pizza {
    display: flex;
    background-color: #F8FFE5;
    border-radius: 1em;
    width: 50%;
    align-items: center;
}

.pizza-container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* styling pizza cart section */

.pizza-table {
    display: flex;
    justify-content: center;
}

.pizza-cart-section {
    border-radius: 1em;
    width: 50%;
}

.messageContainer {
    margin: 1em;
    padding: 1.5em;
}